* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, html {
    width: 100%;
    height: 100%;
    
}

body {
    display: flex;
    /* background: yellow; */
    flex-direction: column;
}

header {
    display: flex;
    background: url(/img/background-b.png) no-repeat;
    margin: 0 auto;
    width: 100%;
    max-width: 1600px; 
    min-height: 900px;
    flex-direction: column;
    padding-left: 230px;
    padding-right: 230px;
}


.up {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 121px;
    align-items: center;
}

main {
    width: 100%;
    flex-grow: 1;
    max-width: 1600px;
    margin: 0 auto;
    min-height: 2700px;
}

.logo{
    display: flex;
    align-items: center;
    font-family: 'Ribeye', 'Arial', sans-serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.06em;
    color: #fff;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_button {
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: 0 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
}

.r_button{
    display: flex;
    width: 163px;
    height: 51px;
    background: #C9453B;
    border-radius: 5px;
    align-items: center;
    justify-content: center;

}
.r_button_t{
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
}

.trips {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.trips_head{
    font-family: 'Gelasio', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 120%;
}

.trips_text {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    opacity: 0.6;
}

.trips_button {
    display: flex;
    width: 187px;
    height: 59px;
    background: #C9453B;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.locations {
    width: 100%;
    min-height: 668px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 140px 0;
}

.loc_cards_place {
    display: flex;
    padding-top: 50px;
    flex-direction: row;
    justify-content: space-around;
}

.loc_cards {
    display: flex;
    box-sizing: border-box;
    width: 360px;
    height: 500px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    margin: 0 15px;
}


.loc_cards:hover {
    display: flex;
    box-sizing: border-box;
    width: 360px;
    height: 500px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    margin: 0 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
}

.text_box {
    padding-top: 35px ;
}

.text_logo {
    font-family: 'Gelasio';
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #000000;
}

.card_text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #000000;
    opacity: 0.6;
}

.loc_logo {
    font-family: 'Gelasio';
    font-weight: 500;
    font-size: 43px;
    line-height: 140%;
    color: #000000;
}

.news {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.news_logo {
    font-family: 'Gelasio';
    font-weight: 500;
    font-size: 43px;
    line-height: 140%;
    text-align: center;
    color: #000000;
    padding-bottom: 20px;
}

.news_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.news_right {
    display: flex;
    margin-top: 56px;
    flex-direction: column;
}

.right_cards {
    display: flex;
    height: 100%;
    flex-direction: row;
    padding-left: 32px;
    padding-bottom: 30px;
}

.r_mail_box {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    opacity: 0.8;
}

.right_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 27px;
}

.news_left {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
}

.news_box_logo {
    font-family: 'Gelasio';
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #000000;
}

.news_box_text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
    opacity: 0.6;
    padding: 10px 0;
}

.l_box_mail {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.left_cards_box {
    padding-top: 35px;
}

footer {
    width: 100%;
}

@media (max-width:1024px) {



    header {
        padding-left: 100px;
        padding-right: 100px;
        max-width: 1024px;
    }

    .up {
        justify-content: space-around;
    }

    .nav_button {
        font-size: 14px;
    }

    .r_button{
        transform: scale(0.8);
    }

    .logo {
        font-size: 18px;
    }

    .trips_head {
        font-size: 45px;
    }

    .trips_text {
        font-size: 14px;
    }


    .locations {
        padding-top: 0;
        padding-bottom: 0;
        transform: scale(0.7);
    }

    .trips_button {
        transform: scale(0.9);
    }
    
    .scale {
        transform: scale(0.8);
    }
}


@media (max-width:768px) {

    header {
        padding-left: 50px;
        padding-right: 50px;
    }

    .up {
        justify-content: space-around;
    }

    .trips_head{
        font-size: 25px;
    }

    .trips_text {
        font-size: 16px;
    }

    .logo {
        font-size: 16px;
    }

    .trips_head {
        font-size: 25px;
    }

    .locations {
        padding-top: 0;
        padding-bottom: 140;
    }
}


@media (max-width:768px) {



    header {
        padding-left: 0px;
        padding-right: 0px;
        max-width: 768px;
    }

    .up {
        justify-content:center;
        flex-wrap: wrap;
    }

    .loc_cards_place {
        flex-direction: column;
    }

    .news_cards {
        flex-direction: column;
        justify-content: center;
    }

    .right_cards_box {
        justify-content: center;
    }

    .nav_button {
        font-size: 12px;
    }

    .r_button{
        transform: scale(0.5);
    }

    .logo {
        font-size: 14px;
    }
    
    .trips {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .trips_head {
        font-size: 35px;
        text-align: center;
    }

    .trips_text {
        font-size: 10px;
    }

    .locations {
        padding-top: 0;
        padding-bottom: 0;
        transform: scale(0.6);
    }

    .trips_button {
        transform: scale(0.4);
    }
    

}

@media (max-width:320px) {



    header {
        padding-left: 0px;
        padding-right: 0px;
        max-width: 375px;
    }

    .up {
        justify-content:center;
        flex-wrap: wrap;
    }

    .loc_cards_place {
        flex-direction: column;
    }

    .news_cards {
        flex-direction: column;
        justify-content: center;
    }

    .right_cards_box {
        justify-content: center;
    }

    .nav_button {
        font-size: 12px;
        padding: 5px;
    }

    .r_button{
        transform: scale(0.4);
    }

    .logo {
        font-size: 14px;
    }
    
    .trips {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .trips_head {
        font-size: 35px;
        text-align: center;
    }

    .trips_text {
        font-size: 10px;
    }

    .news_logo {
        transform: scale(0.5);
    }

    

    .locations {
        padding-top: 0;
        padding-bottom: 0;
        transform: scale(0.6);
    }

    .trips_button {
        transform: scale(0.4);
    }
    
    .img_crd {
        transform: scale(0.8);
    }

}